@import "tailwindcss";

@theme {
  --color-parchment: #faf4e9;
  --color-ink: #2e1b12;
  --color-caramel: #c8862b;
  --color-mahogany: #6b2e1f;
  --color-taupe: #8a7a68;
  --color-butter: #e8b94a;

  --font-serif: "Mona Sans", sans-serif;
  --font-display: "Playfair Display", serif;
  --font-sans: "Inter", sans-serif;
}

body {
  /* background-color: var(--color-parchment); */
  color: var(--color-ink);
}